*{
    margin: 0px;
    padding: 0px;
    font-family: arial , sans-serif;
    box-sizing: border-box;
}

div .geral{
    margin: 40px;
    padding: 10px;
}

section{
    display: flex;
    flex-direction:row;
    margin: 10px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.pessoais{
    margin-top: 10px;
    font-size: 25px;
}

div h2 { 
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    padding: 20px
}



div h3 {
    align-items: left;
    margin: 30px 15px;
    font-size: 25px;
}

.pessoais{
    display: flex;
    align-items: left;
    margin: 15px;
    font-size: 25px;
}

.pessoais1{
    display: flex;
    margin: 15px;
    font-size: 20px;
    gap: 10px;
}

.inputNome{
    width:300px;
    height: 25px;
}

.inputCPF{
    width: 250px;
    height: 25px;
}